<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <script>
        const socket = new WebSocket('웹소켓 주소');

        socket.onmessage = function(event) {
            const data = JSON.parse(event.data);
        }

        const message = { id: 1, text: 'hi' };
        socket.send(JSON.stringify(message));
    </script>
</head>
<body>
<div th:each="chat: ${chats}"><div>
    <span th:if="${chat.type.isEmpty()}" th:text="${chat.content}">Default</span>
</div></div>
<p th:text="'id: ' + ${id}"></p>
</body>
</html>