<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatroom</title>
    <script>
        const chatroomId = [[${id}]];
        let firstChatId = 2147483647;
        const socket = new WebSocket('/ws/chat');

        socket.onopen = () => {
            console.log("WebSocket 연결됨!");
        };

        socket.onmessage = function(event) {
            console.log(event.data);
            const data = JSON.parse(event.data);

            if (data.tag == "error") {
                console.log(data.content);
            } else if (data.tag == "newChat") {
                const message = data.content;
                const chatsDiv = document.getElementById('chats');

                const outerDiv = document.createElement('div');

                const chat = document.createElement('div');
                chat.classList.add('chat');
                chat.textContent = message.content;

                const chatInfo = document.createElement('div');
                chatInfo.classList.add('chat-info');
                chatInfo.textContent = '유저id: ' + message.userId + ', 시간: ' +  message.sentTime;

                outerDiv.appendChild(chat);
                outerDiv.appendChild(chatInfo);

                chatsDiv.appendChild(outerDiv);
            } else if (data.tag == "chats") {
                const messages = data.content;
                const chatsDiv = document.getElementById('chats');

                if (messages.length != 0) {
                    firstChatId = messages[messages.length-1].id;
                }

                for(let i = 0; i < messages.length; i++) {
                    const message = messages[i];

                    const outerDiv = document.createElement('div');

                    const chat = document.createElement('div');
                    chat.classList.add('chat');
                    chat.textContent = message.content;

                    const chatInfo = document.createElement('div');
                    chatInfo.classList.add('chat-info');
                    chatInfo.textContent = '유저id: ' + message.userId + ', 시간: ' +  message.sentTime;

                    outerDiv.appendChild(chat);
                    outerDiv.appendChild(chatInfo);

                    chatsDiv.prepend(outerDiv);
                }
            }


        }

        socket.onclose = () => {
            console.log("WebSocket 연결 종료됨");
        };

        socket.onerror = (error) => {
            console.error("WebSocket 오류:", error);
        };

        document.addEventListener('DOMContentLoaded', () => {
            document.getElementById('load').addEventListener('click', () => {

                const loadRequest = {
                    type: "load",
                    chatroomId: chatroomId,
                    text: String(firstChatId)
                };
                socket.send(JSON.stringify(loadRequest));
            });

            document.getElementById('send').addEventListener('click', () => {
                const userInputDiv = document.getElementById('userInput');
                const userInput = userInputDiv.value;
                userInputDiv.value = '';

                if (userInput) {
                    const message = {
                        type: "send",
                        chatroomId: chatroomId,
                        text: userInput
                    };
                    socket.send(JSON.stringify(message));
                }
            });
        });
    </script>
    <style>
        .chat {
            font-size: 18px;
        }
        .chat-info {
            font-size: 12px;
        }
    </style>
</head>
<body>

<button type="button" id="load">이전 메시지 가져오기</button>

<div id="chats"><div>
</div></div>

<label for="userInput">메시지:</label>
<input type="text" id="userInput" placeholder="메시지 입력">
<button type="button" id="send">전송</button>

<p th:text="'챗방 id: ' + ${id}"></p>
</body>
</html>