<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Chatroom List</title>
</head>
<body>
<div><a href="/chatroom-add">새 채팅방 만들기</a></div>
<a href="/friend-list">
    <button>친구 목록으로 이동</button>
</a>
<a href="/setting">
    <button>설정</button>
</a>
<tr th:each="c: ${chatroomList}">
    <td><form method="post" action="/chatroom">
        <input type="hidden" id="id" name="id" th:value="${c.id}">
        <button type="submit" th:text="'id: ' + ${c.id} + ', name: ' + ${c.name}"></button>
        <input type="hidden" id="_csrf" name="_csrf" th:value="${_csrf.token}">
    </form></td>
</tr>
</body>
</html>